* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* heading fonts */
.headfonts {
  font-family: "Graduate", cursive;
  color: #ffc107;
  font-weight: 500;
}

.headfonts:hover {
  color: #c2c0bde3;
}

.headfonts:active {
  font-size: 1.1em;
  color: white;
  font-weight: 600;
}

/* paragraph fonts */
.parafonts {
  color: white;
}

#wrapper {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  background-color: rgba(0, 0, 0, 0.897);
}

/* navbar item class */
.nav-link {
  text-decoration: none;
}

/* aligining navbar items to the right */
.navbar-nav {
  /* border: 2px solid red; */
  margin-left: auto;
}

/* splide */
.splide {
  font-family: "Graduate", cursive;
  color: #ffc107;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.897);
  /* background-image: url("https://source.unsplash.com/1366x800?gym"); */
}
.splide__slide {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img1 {
  background-image: url("../Images/img8.jpg");
  /* background-size: 100% 100%; */
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.img2 {
  background-image: url("../Images/img2.jpg");
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
}
.img3 {
  background-image: url("../Images/img5.jpg");
  background-position: center;
  background-size: cover;
}
.img4 {
  background-image: url("../Images/img6.jpg");
  background-position: center;
  background-size: cover;
}
/* .img5 {
  background-image: url("https://source.unsplash.com/1366x800?cardio");
  background-position: center;
  background-size: cover;
} */
h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 0 2em 1em 2em;
  text-align: center;
}
h3 {
  text-align: center;
  color: #343a40;
}
.join {
  text-align: center;
  margin-top: 2em;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #343a40;
  border: 2px solid #343a40;
}
.join:hover {
  transition: 0.5s all ease-in;
  transform: scale(110%);
}

.blue {
  color: #167ca6;
  text-align: center;
}
.white {
  color: white;
  text-align: center;
}
